<div class="container messages mx-auto py-5 px-1" *ngIf="form">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <span class="label-form pl-1">Choisis au moins une option</span>
    <div class="mt-2">
      <div class="day-checkbox d-flex flex-wrap">
        <label formArrayName="days" *ngFor="let day of getControls(); let i = index"
               class="d-flex ml-1 py-3 px-3 mb-2 mr-2" [ngClass]="{'active': this.form.value.days[i]}">
          <div class="check-block mr-3">
            <input type="checkbox" [formControlName]="i" />
          </div>
          <span>{{days[i].name}}</span>
        </label>
      </div>
    </div>
    <button [disabled]="someChecked" class="btn btn-primary mt-2 px-5">Envoyer</button>
  </form>
</div>

<router-outlet></router-outlet>
